*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}

.content {
    width: 800px;
    margin: 0 auto;
}

h2 {
    position: relative;
    background-color: burlywood;
    font-size: 22px;
    text-align: center;
    padding: 2px 0;
}

nav {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 0;
    margin: 5px 5px 0 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    color: brown;
    font-size: 12px;
    margin: 0;
    outline: 0;
}

nav a.current {
    font-weight: bold;
    color: darkred;
}

nav a:not(:last-child):after {
    content: '|';
    margin: 0 5px;
    font-weight: normal;
    color: brown;
}

p {
    margin: 0;
    text-align: center;
}

.error {
    color: red;
}

.message {
    color: green;
}

form.above-list {
    text-align: center;
    background-color: bisque;
    padding: 5px 0;
    margin: 0 auto;
    width: 500px;
}

form.above-list input.text {
    background-color: white;
}

form.above-list input.button {
    width: 70px;
    height: 25px;
}

table.list {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5px auto;
    width: 500px;
}

table.list tr:nth-child(2n) {
    background-color: blanchedalmond;
}

table.list tr:nth-child(2n+1) {
    background-color: antiquewhite;
}

table.list th {
    background-color: cadetblue;
}

table.list td,
table.list th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table.client-list td:nth-child(4) {
    text-align: left;
    min-width: 280px;
}

table.pet-list {
    width: 150px;
}

form.form {
    background-color: bisque;
    padding: 5px;
}

form.form div {
    text-align: center;
}

form.form .element {
    display: inline-block;
    text-align: left;
    width: 150px;
    margin: 2px 0;
}

form.form input.element {
    background-color: white;
}

form.form p.element {
    font-weight: bold;
}

form.form input.button {
    margin: 10px 0 0;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 30px;
}
