<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Pet's clinic</display-name>
    <description>
        This is web version of pet's clinic.
    </description>

    <context-param>
        <param-name>useHibernate</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- serving static content with default container servlet -->

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <!-- the first (old) clinic servlet which didn't use jsp -->

    <servlet>
        <servlet-name>ClinicServlet</servlet-name>
        <servlet-class>ru.lightstar.clinic.ClinicServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClinicServlet</servlet-name>
        <url-pattern>/old/</url-pattern>
    </servlet-mapping>

    <!-- clinic servlets -->

    <servlet>
        <servlet-name>ShowClients</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.ShowClients</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowClients</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClient</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.AddClient</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddClient</servlet-name>
        <url-pattern>/client/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateClientName</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.UpdateClient</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateClientName</servlet-name>
        <url-pattern>/client/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetClientPet</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.SetClientPet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetClientPet</servlet-name>
        <url-pattern>/client/pet/set</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateClientPetName</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.UpdateClientPet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateClientPetName</servlet-name>
        <url-pattern>/client/pet/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClientPet</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.DeleteClientPet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClientPet</servlet-name>
        <url-pattern>/client/pet/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.DeleteClient</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/client/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowPets</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.ShowPets</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowPets</servlet-name>
        <url-pattern>/client/pet</url-pattern>
    </servlet-mapping>

    <!-- drug servlets -->

    <servlet>
        <servlet-name>ShowDrugs</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.drug.ShowDrugs</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowDrugs</servlet-name>
        <url-pattern>/drug</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDrug</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.drug.AddDrug</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GiveDrug</servlet-name>
        <url-pattern>/drug/give</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GiveDrug</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.drug.GiveDrug</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDrug</servlet-name>
        <url-pattern>/drug/add</url-pattern>
    </servlet-mapping>

    <!-- role servlets -->

    <servlet>
        <servlet-name>ShowRoles</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.role.ShowRoles</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowRoles</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRole</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.role.AddRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddRole</servlet-name>
        <url-pattern>/role/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRole</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.role.DeleteRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteRole</servlet-name>
        <url-pattern>/role/delete</url-pattern>
    </servlet-mapping>

    <!-- message servlets -->

    <servlet>
        <servlet-name>ShowMessages</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.message.ShowMessages</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowMessages</servlet-name>
        <url-pattern>/client/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMessage</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.message.AddMessage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddMessage</servlet-name>
        <url-pattern>/client/message/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteMessage</servlet-name>
        <servlet-class>ru.lightstar.clinic.servlet.message.DeleteMessage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteMessage</servlet-name>
        <url-pattern>/client/message/delete</url-pattern>
    </servlet-mapping>

    <!-- filters -->

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>ru.lightstar.clinic.filter.CharacterEncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- context listener executed on application startup -->

    <listener>
        <listener-class>
            ru.lightstar.clinic.ClinicContextListener
        </listener-class>
    </listener>
</web-app>
